.advantages {
  background: rgba(217, 224, 236, 0.2);
  backdrop-filter: blur(25px);

  &__container {
    @include flex(flex, row, 70px);
    justify-content: space-between;
    align-items: center;
    padding: 129px 0;
    @media (max-width: 700px) {
      gap: 20px;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
    }
  }
  &__title {
    color: #000;
    font-size: 28px;
    font-family: "Maven";
    font-weight: 700;
  }
}

.advantage__box {
  @include flex(flex, row, 15px);
  align-items: flex-start;
  width: 100%;
}

.advantage__text {
  @include flex(flex, column, 12px);
  justify-content: flex-start;
}
.advantage__title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.advantage__description {
  color: #696969;
  font-size: 14px;

  line-height: 160%;
}
