.collections {
  background: rgba(217, 224, 236, 0.2);
  backdrop-filter: blur(25px);
  padding: 65px 0 99px 0;
  &__container {
    @include flex(flex, column, 55px);

    justify-content: flex-start;
  }
  &__title {
    color: #000;
    font-size: 28px;
    font-family: Integral CF;
    font-weight: 700;
  }
  &__items {
    @include flex(flex, row, 31.39px);
  }

  &__item {
    @include flex(flex, column, 29.34px);
  }

  &__collection {
    @include flex(flex, row, 9.17px);
  }

  &__description {
    @include flex(flex, column, 10.24px);
  }
}

.collection__imgs {
  @include flex(flex, column, 8.25px);
}

.description__name {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.description__informations {
  @include flex(flex, row, 146px);
  justify-content: flex-start;
}
.informations__user {
  @include flex(flex, row, 10px);
  display: flex;
  gap: 10px;
}

.user__name {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
