.collections {
  background: rgba(217, 224, 236, 0.2);
  backdrop-filter: blur(25px);
  padding: 65px 0 99px 0;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 55px;
  }
  &__title {
    color: #000;
    font-size: 28px;
    font-family: Integral CF;
    font-weight: 700;
  }
  &__items {
    display: flex;
    gap: 31.39px;
    flex-direction: row;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 29.34px;
  }

  &__collection {
    display: flex;
    gap: 9.17px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10.24px;
  }
}

.collection__imgs {
  display: flex;
  flex-direction: column;
  gap: 8.25px;
}

.description__name {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.description__informations {
  display: flex;
  gap: 146px;
  justify-content: flex-start;
}
.informations__user {
  display: flex;
  gap: 10px;
}

.user__name {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
