.create {
  &__container {
    @include flex(flex, row, 42px);
    padding: 100px 0 122px 0;
    align-items: center;
    @media (max-width: 700px) {
      padding: 20px 0;
    }
  }
  &__miniature {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    justify-items: end;
    gap: 52px;
    align-items: center;
    grid-template-areas:
      "img1 img3"
      "img2 img3";
    @media (max-width: 700px) {
      display: none;
    }
  }
  &__description {
    @include flex(flex, column, 40px);
    @media (max-width: 700px) {
      align-items: center;
      text-align: center;
    }
  }
  &__title {
    color: #000;
    font-size: 32px;
    font-family: "Maven";
    font-weight: 700;
  }
  &__text {
    color: #636363;
    font-size: 18px;
    line-height: 160%;
  }
  &__button {
    padding: 20px 40px;
    align-self: flex-start;
    font-size: 20px;
    font-family: "Maven";
    letter-spacing: 1.3px;
    @media (max-width: 700px) {
      align-self: center;
    }
  }
}

.img__miniature--1 {
  padding-bottom: 20px;
  padding-right: 20px;
  grid-area: img1;
  position: relative;
  z-index: -1;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../../assets/icon/icon__men1.svg);
    background-size: cover;

    background-repeat: no-repeat;
    border-radius: 80px;
    border: 4px solid #fff;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: 0;
  }
}

.img__miniature--2 {
  grid-area: img2;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
  z-index: -1;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../../assets/icon/women1.svg);
    background-size: cover;

    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: 0;
  }
}

.img__miniature--3 {
  grid-area: img3;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
  z-index: -1;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../../assets/icon/women1.svg);
    background-size: cover;

    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: 0;
  }
}
