.cost {
  @include flex(flex, row, 8px);
  justify-content: center;
  align-items: center;

  &__price {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 700;
  }
}

.cost--border {
  @include flex(flex, row, 5px);

  padding: 8px;

  border-radius: 6px;
  border: 1px solid #00ac4f;
  justify-content: center;
  align-items: center;
  &__price {
    color: #00ac4f;
    font-size: 12px;
    font-weight: 700;
  }
}

.cost--green {
  @include flex(flex, row, 8px);

  justify-content: center;
  align-items: center;
  &__price {
    color: #00ac4f;
    font-size: 10.971px;

    font-weight: 700;
  }
}

.cost--white {
  @include flex(flex, row, 8px);

  justify-content: center;
  align-items: center;
  &__price {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }
}
