html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
main,
header,
footer,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

nav ul {
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button--border {
  border-radius: 60px;
  border: 2px solid #3d00b7;
  color: #3d00b7;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  text-align: center;
}
.button--border:hover {
  background: #3d00b7;
  color: #fff;
}

.button--background {
  text-align: center;
  border-radius: 60px;
  background: #3d00b7;
  color: #fff;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}
.button--background:hover {
  border: 2px solid #3d00b7;
  color: #3d00b7;
  background-color: #fff;
}

.link--chose {
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  padding: 10px 20px;
  text-align: center;
  border-radius: 100px;
  background: rgba(220, 220, 220, 0.2);
  color: #000;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 17.452px;
}
.link--chose:hover {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.452px;
  background: #3d00b7;
}

.button--collection {
  padding: 10px 20px;
  text-align: center;
  border-radius: 60px;
  border: 1px solid #3d00b7;
  color: #3d00b7;
  font-size: 11.001px;
  font-weight: 700;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}
.button--collection:hover {
  background: #3d00b7;
  color: #fff;
}

.button__buy {
  color: #3d00b7;
  font-size: 15.359px;
  border: none;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  font-weight: 500;
}
.button__buy :hover {
  border: 2px solid #3d00b7;
  color: #3d00b7;
  background-color: #fff;
}

.cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cost__price {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 700;
}

.cost--border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #00ac4f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cost--border__price {
  color: #00ac4f;
  font-size: 12px;
  font-weight: 700;
}

.cost--green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cost--green__price {
  color: #00ac4f;
  font-size: 10.971px;
  font-weight: 700;
}

.cost--white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cost--white__price {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  padding: 0 66px 0 80px;
}
.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  gap: 20px;
}
.header__search--custom {
  position: relative;
}
.header__search--custom:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 13px;
  margin-top: 15px;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icon/header__search.svg);
}
.header__search {
  border-radius: 100px;
  border: 2px solid #efefef;
  background: #fff;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  width: 300px;
}
.header__line {
  background: #efefef;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
}

.button__upload {
  padding: 18px 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.56px;
}

.button__connect {
  padding: 18px 22px;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.56px;
}

.banner {
  padding: 100px 0 122px 0;
}
.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}
.banner__title {
  color: #000;
  font-size: 40px;
  font-family: "Maven";
  letter-spacing: 2px;
  padding-bottom: 22px;
}
.banner__description {
  color: #565656;
  font-size: 20px;
  line-height: 160%;
  padding-bottom: 41px;
}
.banner__button {
  padding: 20px 40px;
  -ms-flex-item-align: start;
      align-self: start;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Maven";
  letter-spacing: 1.3px;
}
.banner__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 23px;
}
.banner__sliders {
  position: relative;
  padding-left: 50px;
}
.banner__sliders::before {
  position: absolute;
  content: "";
  background-image: url(../../assets/icon/label.svg);
  width: 101px;
  height: 101px;
  background-size: cover;
  z-index: 1;
  background-repeat: no-repeat;
  bottom: 104px;
  left: 0;
}
.banner__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  position: relative;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-image: url(../../assets/image/baner__slide1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 440px;
  border-radius: 24px;
  position: relative;
}

.slider--2 {
  content: "";
  position: absolute;
  width: 356px;
  height: 391.6px;
  left: 86px;
  z-index: -1;
}

.slider--3 {
  content: "";
  position: absolute;
  width: 310px;
  height: 341px;
  left: 167px;
  z-index: -2;
}

.statistic__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}

.statistic__number {
  color: #000;
  font-size: 40px;
  font-family: "Maven";
  font-weight: 700;
  letter-spacing: 2px;
}

.statistic__name {
  color: #565656;
  font-size: 20px;
  line-height: 160%;
}

.title__slider {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1.4px;
  margin-bottom: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 26px;
  margin-top: 26px;
}

.information__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 14.4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 26px;
}

.author__name {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.information__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 104px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  margin-top: 238px;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 14.56px 26px;
  margin-bottom: 26px;
}

.information__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7.18px;
}

.information__title {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.information__times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7.18px;
}

.information__time {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.advantages {
  background: rgba(217, 224, 236, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 129px 0;
}
.advantages__title {
  color: #000;
  font-size: 28px;
  font-family: "Maven";
  font-weight: 700;
}

.advantage__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.advantage__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.advantage__title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.advantage__description {
  color: #696969;
  font-size: 14px;
  line-height: 160%;
}

.well__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 52px;
  padding: 153px 0;
}
.well__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}
.well__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 112px;
  padding-top: 32px;
}
.well__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 41px;
}
.well__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.well__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  position: relative;
  padding-left: 40px;
}
.well__top::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 540px;
  background: #ececec;
  left: 0;
}

.description__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.description__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.text__title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.text__years {
  color: #363639;
  font-size: 14px;
}

.item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}

.description__title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 9px;
  padding-top: 9px;
  padding-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__quantity {
  color: #757575;
  font-size: 14px;
}

.description__button {
  padding: 14px 20px;
  -ms-flex-item-align: start;
      align-self: start;
}

.top__title {
  color: #000;
  font-size: 20px;
  font-family: "Maven";
  font-weight: 700;
  padding-bottom: 10px;
}

.top__description {
  color: #3d00b7;
  font-size: 18px;
  font-weight: 700;
}

.top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}

.top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
}

.top__item--line {
  position: relative;
}
.top__item--line::before {
  content: "";
  position: absolute;
  border: 1px solid #f0f0f0;
  width: 308px;
  left: 0;
  bottom: 0;
}

.item__number {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 103%;
  letter-spacing: -0.6px;
}

.item__img--best {
  position: relative;
  z-index: -1;
}
.item__img--best::before {
  content: "";
  background-image: url(../../assets/icon/verify-1.svg);
  position: absolute;
  width: 32px;
  height: 32px;
  right: 0;
  top: 0;
}

.item__name {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 103%;
  letter-spacing: -0.4px;
}

.item__present {
  color: #14c8b0;
  text-align: right;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 103%;
  letter-spacing: -0.5px;
}

.top__line {
  background: #ececec;
  width: 325px;
}

.collections {
  background: rgba(217, 224, 236, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 65px 0 99px 0;
}
.collections__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 55px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.collections__title {
  color: #000;
  font-size: 28px;
  font-family: Integral CF;
  font-weight: 700;
}
.collections__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 31.39px;
}
.collections__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 29.34px;
}
.collections__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 9.17px;
}
.collections__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10.24px;
}

.collection__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8.25px;
}

.description__name {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.description__informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 146px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.informations__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  display: flex;
  gap: 10px;
}

.user__name {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.create__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 42px;
  padding: 100px 0 122px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.create__miniature {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  justify-items: end;
  gap: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "img1 img3" "img2 img3";
}
.create__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.create__title {
  color: #000;
  font-size: 32px;
  font-family: "Maven";
  font-weight: 700;
}
.create__text {
  color: #636363;
  font-size: 18px;
  line-height: 160%;
}
.create__button {
  padding: 20px 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 20px;
  font-family: "Maven";
  letter-spacing: 1.3px;
}

.img__miniature--1 {
  padding-bottom: 20px;
  padding-right: 20px;
  grid-area: img1;
  position: relative;
  z-index: -1;
}
.img__miniature--1::before {
  position: absolute;
  content: "";
  background-image: url(../../assets/icon/icon__men1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 80px;
  border: 4px solid #fff;
  width: 80px;
  height: 80px;
  right: 0;
  bottom: 0;
}

.img__miniature--2 {
  grid-area: img2;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
  z-index: -1;
}
.img__miniature--2::before {
  position: absolute;
  content: "";
  background-image: url(../../assets/icon/women1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  right: 0;
  bottom: 0;
}

.img__miniature--3 {
  grid-area: img3;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
  z-index: -1;
}
.img__miniature--3::before {
  position: absolute;
  content: "";
  background-image: url(../../assets/icon/women1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  right: 0;
  bottom: 0;
}

.market {
  padding: 64px 0 47px 0;
  background: rgba(217, 224, 236, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.market__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 47px;
}
.market__title {
  color: #000;
  font-size: 34px;
  font-family: "Maven";
  font-weight: 700;
}
.market__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 365px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.market__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
}
.market__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.market__boxs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 40px;
}
.market__box {
  border-radius: 13.165px;
  border: 1.097px solid rgba(242, 242, 242, 0.5);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10.97px;
}
.market__icon--1 {
  content: "";
  position: absolute;
  left: 12px;
  bottom: 0;
  z-index: 2;
  width: 30.718px;
  height: 30.718px;
  border-radius: 30.718px;
}
.market__icon--2 {
  content: "";
  position: absolute;
  left: 35px;
  bottom: 0;
  z-index: 3;
  width: 30.718px;
  height: 30.718px;
  border-radius: 30.718px;
}
.market__icon--3 {
  content: "";
  position: absolute;
  left: 58px;
  bottom: 0;
  z-index: 4;
  width: 30.718px;
  height: 30.718px;
  border-radius: 30.718px;
}
.market__icon--4 {
  content: "";
  position: absolute;
  left: 81px;
  bottom: 0;
  z-index: 5;
  width: 30.718px;
  height: 30.718px;
  border-radius: 30.718px;
}
.market__specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 114.7px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 10.72px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 11px;
}
.market__specification::before {
  position: absolute;
  content: "";
  width: 223.8px;
  height: 1.064px;
  background: #f4f4f4;
  bottom: 0;
}
.market__get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 48px;
  -ms-flex-item-align: center;
      align-self: center;
}
.market__button {
  padding: 20px 40px;
  color: #3d00b7;
  font-size: 20px;
  font-weight: 500;
  -ms-flex-item-align: center;
      align-self: center;
}

.icon__item {
  width: 24px;
  height: 24px;
}
.icon__item :hover {
  fill: #fff;
}

.box__picture {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
}

.title__box {
  padding-top: 22px;
  color: #000;
  font-size: 19.747px;
  font-weight: 700;
  line-height: 19.146px;
  margin-right: auto;
  margin-left: 14px;
}

.box__time {
  color: #3d00b7;
  text-align: right;
  font-size: 10.971px;
  padding: 4.388px 10.971px;
  border-radius: 109.706px;
  background: #f5f5f5;
  font-weight: 700;
  line-height: 19.146px;
}

.button__buy {
  color: #3d00b7;
  font-size: 15.359px;
  font-weight: 500;
}
.button__buy:hover {
  background: #3d00b7;
  color: #fff;
  border-radius: 109.706px;
  padding: 4.388px 10.971px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 79px 0 24px 0;
}
.footer__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 100px;
  padding-bottom: 69px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 92px;
}
.footer__line {
  background: #f4f4f4;
  width: 1200px;
  margin-bottom: 10px;
}
.footer__text {
  color: #a4a4a4;
  font-size: 14px;
  font-family: "Poppins";
  line-height: 160%;
}

.social__name {
  color: #000;
  font-size: 24px;
  font-family: "Maven";
  font-weight: 700;
}

.social__text {
  color: #565656;
  font-size: 14px;
  font-family: "Poppins";
  line-height: 160%;
}

.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.menu__title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 24px;
}

.elements__item {
  color: #3d3d3d;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 200%;
}

.form__title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.form__description {
  color: #363639;
  font-size: 14px;
  line-height: 160%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  padding: 10px 10px 10px 25px;
  border-radius: 45.595px;
  border: 2px solid #f1f1f1;
  background: #fff;
}

.form__email {
  color: #959595;
  font-size: 12.159px;
  border: none;
}

.form__button {
  margin-left: auto;
  padding: 15.198px 30.397px;
  font-size: 12.159px;
  letter-spacing: 0.79px;
}